name: Build and Push Training Image to GCR

on:
  push:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: Umeshpoojariaws/shared-workflows/.github/workflows/reusable-build-push.yml@main
    with:
      image-name: training
      gcp-project-id: ${{ vars.GCP_PROJECT_ID }}
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}