name: Build, Push, and Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: Umeshpoojariaws/shared-workflows/.github/workflows/reusable-build-push.yml@main
    with:
      image-name: training
      artifact-registry-repo: ${{ vars.ARTIFACT_REGISTRY_REPO }}
      gitops-repo: Umeshpoojariaws/gke-gitops-infra
      # This simply tells the workflow which environment to update.
      environment: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      GITOPS_PAT: ${{ secrets.GITOPS_PAT }}